$primary-color: #ffffff;
$secondary-color: #232323;
$top-contact-bg-color: #f0f0f0;
$highlight-color: #20488a;
$highlight-text-color:#157ed2;
$base-font: "Open Sans", "Lato", "Noto Sans JP", sans-serif;
$header-font: "Roboto", sans-serif;
