html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans", "Lato", "Noto Sans JP", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
  color: #232323;
  background-color: #ffffff;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #232323;
}

img {
  width: 100%;
  display: block;
}

.top-header-section {
  background: #f0f0f0;
}

.top-header-section .top-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.top-header-section .top-header-content div:first-child {
  margin-right: 1rem;
}

.top-header-section .top-header-content span {
  padding-right: 0.3rem;
}

.main-nav-section {
  text-transform: uppercase;
  padding: 3rem;
}

.main-nav-section .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-nav-section .main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.main-nav-section .main-nav ul li {
  padding-right: 1rem;
}

.main-nav-section .home-tag a {
  color: #157ed2;
}

.main-nav-section a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-nav-section a:hover {
  color: #157ed2;
}

.mobile-main-nav-section {
  display: none;
}

.main-header-section {
  background: url(../images/background-img.jpg) no-repeat;
  height: 70vh;
  background-size: cover;
}

.main-header-section .main-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main-header-section .main-header-content h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3.7vw;
  padding: 1.5rem 0;
  margin-bottom: 2rem;
  text-align: center;
}

.service-section {
  padding: 3rem;
}

.service-section .service-section-articles {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.service-section .service-section-articles h3 {
  margin-bottom: 1rem;
  text-align: center;
}

.service-section .service-section-articles .service-desc-text {
  background-color: #f0f0f0;
  padding: 2rem;
  text-align: center;
}

.service-section-articles mark {
  background-color: transparent;
  border-bottom: 2px solid #20488a;
}

.products-section {
  padding: 3rem;
}

.products-section .products-img-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.products-section .img-bottom-text {
  text-align: center;
  background-color: #20488a;
  color: #ffffff;
  padding: 0.5rem;
  text-transform: uppercase;
}

footer {
  background-color: #ebebeb;
  padding: 3rem;
  margin-top: 3rem;
}

.footer-nav-section {
  padding: 2rem;
}

.footer-nav-section .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav-section .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
}

.footer-nav-section .footer-nav ul li {
  padding-right: 1rem;
}

.footer-nav-section {
  font-weight: 100;
}

.footer-nav-section li a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-nav-section li a:hover {
  color: #157ed2;
}

.footer-contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0.8rem;
}

.footer-contact-info span {
  padding-right: 0.3rem;
}

.footer-contact-info .social-media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.footer-contact-info .fab {
  font-size: 1.6rem;
}

.copy-right {
  font-size: 0.6rem;
  padding-left: 2rem;
}

.copy-right .developer-name a {
  color: #20488a;
  border-bottom: 1px solid #20488a;
}

.footer-form-wrap::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 100%;
  width: 20px;
  height: 48px;
  background: #909090;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.footer-form-wrap {
  color: #157ed2;
  width: 50%;
  background: #434343;
  padding: 1.5rem;
  margin: -5rem 0 0;
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 60%;
}

@media screen and (max-width: 640px) {
  .top-header-section {
    display: none;
  }
  .main-nav-section {
    display: none;
  }
  .mobile-main-nav-section {
    display: block;
    padding: 3rem 0;
    text-align: end;
  }
  .mobile-main-nav-section .mobile-menu-icon .fa-bars {
    font-size: 2rem;
  }
  .main-header-section {
    height: 55vh;
  }
  .main-header-section .main-header-content h1 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 460px) {
  .main-header-section {
    height: 40vh;
  }
  .main-header-section .main-header-content h1 {
    font-size: 7vw;
  }
  h2 {
    font-size: 4.5vw;
  }
  .service-section {
    padding: 0;
  }
  .service-section .service-section-articles h3 {
    font-size: 4vw;
  }
  .products-section {
    padding: 0;
  }
  .footer-form-wrap {
    display: none;
  }
  .footer-nav-section {
    padding: 0;
  }
  .footer-nav-section .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-nav-section .footer-nav ul {
    display: block;
  }
  .footer-nav-section .footer-nav ul li {
    padding-left: 1rem;
  }
  .footer-contact-info {
    display: block;
    font-size: 0.7rem;
    padding: 1rem 0;
  }
  .footer-contact-info span {
    padding-right: 0.3rem;
  }
  .copy-right {
    padding-left: 0;
  }
}
